@page
@model MISApp.Pages.Orders.IndexModel
@{
    ViewData["Title"] = "Orders";
}

<h2>Orders</h2>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Product Id</th>
            <th>Quantity</th>
            <th>Date</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Orders)
{
        <tr>
            <td>@item.Id</td>
            <td>@item.ProductId</td>
            <td>@item.Quantity</td>
            <td>@item.Date</td>
            <td>
                <a asp-page="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
